.table {
  width: 100%;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.appointments-container {
  display: flex;
  flex-direction: column;
  background-color: #ced4da;
  height: 100vh;
  padding: 2rem;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Lato", sans-serif;
}
