.appointment-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appointment-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/

}

.appointment-form-content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.input-container label {
    margin-right: 1rem;
    font-weight: bold;
}

.input-container input,
.input-container select {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-form {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
    font-family: "Lato", sans-serif;
}

.button-form:hover {
    background-color: darkcyan;
}

.appointment-form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1rem;
}

.appointment-form-title h3 {
    margin: 0;
    padding-left: 3rem;
}