.App {
  width: 100vw;
  height: 140vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.information-card {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
}

.main-content {
  flex-grow: 2;
}

.AppFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.AppNavbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}